/* RESET BÁSICO */
body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

/* LINKS */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* HEADER */
.header {
    width: 100%;
    border-bottom: 1px solid #111;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    background-color: #000;
    border-bottom: 1px solid #111;
}

.logo img {
    display: block;
}

/* SUB MENU */
.sub-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #111;
}

.sub-item {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border: 1px dashed #333;
    font-size: 14px;
}

.sub-item.active {
    font-weight: bold;
}

/* PLAYERS */
.players {
    text-align: center;
}

/* PLAYER CARD */
.player-card {
    background-color: #000;
    max-width: 600px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

/* CARD */
.card {
    background-color: #000;
    max-width: 600px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 12px;

    justify-content: center;
    align-items: center;

    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

/* SIDEBAR */
.sidebar {
    background-color: #000;
    max-width: 600px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 12px;

    justify-content: center;
    align-items: center;

    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

/* TÍTULOS */
h1, h2, h3 {
    margin: 10px 0;
    font-weight: normal;
    color: #fff;
}

/* SEPARADOR */
.sep {
    width: 80%;
    height: 2px;
    background-color: #111;
    margin: 25px auto;
    border-radius: 5px;
}

/* LISTAS */
ul {
    list-style: none;
    padding: 0;
}
