body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: #222;
    background: #000;
    padding: 20px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
}

main{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    gap: 30px;
}

.list {
    flex: 3;
}

.card {
    background: #000;
    display: flex;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
    border: 1px solid #fff;
}

.card a {
    text-decoration: white;
}

.thumb {
    width: 160px;
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
}

.info {
    padding-left: 15px;
}

.info h2 {
    margin: 0;
    font-size: 20px;
}

.info p {
    margin-top: 4px;
    color: #fff;
}

.sidebar {
    flex: 1;
    background: black;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    box-shadow: 0 0 10px #fff;
    border: 1px solid #111;
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    padding-left: 20px;
}

.container {
    background: white;
    max-width: 600px;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}

h1 {
    margin: 10px 0;
    color: #fff;
}

h2 {
    margin: 10px 0 20px 0;
    color: #fff;
    font-weight: normal;
}

h3 {
    margin: 10px 0 20px 0;
    color: #fff;
    font-weight: normal;
}

.sep {
    width: 80%;
    height: 2px;
    background: #000;
    margin: 25px auto;
    border-radius: 5px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: inherit;
}

p {
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

.logo{
    margin-left: auto;
    margin-right: auto;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    background: black;
    border-bottom: 1px solid #111;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container img {
    width: 50px;
}

.containers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.containers img {
    width: 200px;
}

.players {
    text-align: center;
}

ul{
    list-style-type: none;
}

.header {
    width: 100%;
    border-bottom: 1px solid #000;
}

.main-nav {
    display: flex;
    gap: 32px;
}

.main-nav a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.main-nav a:hover {
    text-decoration: underline;
}

.language {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

.sub-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #000;
}

.sub-item {
    width: 50%;
    text-align: center;
    padding: 10px 0;
    border: 0.5px dashed #ccc;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.sub-item.active {
    font-weight: bold;
}

.points {
    color: #fff;
}
